barcode.png
boards.yaml
dict_4x4.png
new_code1.png
new_code2.png
out.svg
images/S40_M25_id8_19.pdf
images/S60_M45_id0_3.pdf
images/S80_M65_id5_6.pdf
images/S80_M65_id20_21.pdf
.DS_Store
detected_barcodes_cv2.jpg
detected_markers.jpg
images/.DS_Store
images/out.pdf
images/S25_M18_id32_55.pdf
images/S25_M18_id56_79.pdf
images/S25_M20_id0_17.pdf
images/S40_M25_id0_7.pdf
images/S40_M25_id8_15.pdf
images/S40_M25_id16_23.pdf
images/S40_M25_id24_31.pdf
images/S110_M100_id25.pdf
images/S110_M100_id30-1.pdf
images/S110_M100_id30.pdf
src/__pycache__/aruco_detection.cpython-312.pyc
test/band_770nm.png
test/band_770nm2.png
test/img1.png
test/img2.png
test/img3.png
test/img4.png
test/img5.png
test/img6.png
test/img7.png
test/img8.png
test/img9.png
test/img10.png
test/img11.png
test/img12.png
images/S25_M18_id0_A3.pdf
images/S20_M18_id12_15.pdf
images/S25_M18_id100_114.pdf
images/S30_M20_id8_11.pdf
images/S40_M30_id4_7.pdf
images/S50_M40_id0_3.pdf
test/img14.png
test/img13.png
detected_inner_corners.jpg
detected_outer_borders.jpg
detected_outer_corners.jpg
images/S25_M18_A3_id100_114.pdf
images/cross_checkerBoard.pdf
images/drawing.svg
images/S6_checkerboard_A3.pdf
images/S25_M18_id0_23.pdf
test/img15.png
images/blackBoard.pdf
images/S25_M18_id24_47.pdf
__pycache__/build_backend.cpython-312.pyc
__pycache__/run_aruco_detection.cpython-312.pyc
aruco_pattern/__pycache__/__init__.cpython-312.pyc
marker_detection.egg-info/dependency_links.txt
marker_detection.egg-info/PKG-INFO
marker_detection.egg-info/requires.txt
marker_detection.egg-info/SOURCES.txt
marker_detection.egg-info/top_level.txt
src/__pycache__/__init__.cpython-312.pyc
src/__pycache__/aruco_creation.cpython-312.pyc
src/marker_detection.egg-info/dependency_links.txt
src/marker_detection.egg-info/PKG-INFO
src/marker_detection.egg-info/requires.txt
src/marker_detection.egg-info/SOURCES.txt
src/marker_detection.egg-info/top_level.txt
test/out1.svg
